<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/spa">Spa</a></li>
  </ul>
  <h3 class="text-muted">Tracy Kovach</h3>
</div>

<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="foo"><br>
    I teach, like history and enjoy cooking.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Need Spa Services?</a></p>
</div>

<div class="row marketing">
  <h4>Boilerplate</h4>
  <p>
    Ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, aliquid explicabo laborum sint quod ea optio qui impedit libero enim vitae iure earum omnis quis quidem laudantium ab cupiditate recusandae?
  </p>

  <h4>Blog</h4>
  <p>
    Read about healthy living and great recipes.
  </p>

  <h4>Spa</h4>
  <p>Services range from ... </p>
</div>

<div class="footer">
  <p>Made with ♥ by Derek Braid</p>
</div>
